@import 'header/logo.css';
@import 'header/menu.css';
@import 'header/hamburger.css';

header{
  --color-header-text : #666;
  --size-hamburger-width  : 50px;
  --size-hamburger-height : 50px;

  height : var(--size-header-height);
  border-bottom:1px solid black;
  display:flex;
  align-items:center;
  position:relative;
}

header > *{
  height:100%;
}

header a{
  text-decoration : none;
}

header img{
  max-height:100%;
}







